# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# Output of `go build`
/build/
*.o
*.a

# Dependency directories (if using vendoring)
/vendor/

# Go workspace file
go.work
go.work.sum

# Go module files (optional if you want to exclude them)

# IDE/editor configs
.vscode/
.idea/
*.swp
*.sublime-workspace
*.sublime-project
connectors/
.vscode/
# Logs and temp